<p *ngIf="!chartData"><em>Loading...</em></p>

<p *ngIf="chartData && !dataExists">No data found.</p>

<ngx-charts-line-chart *ngIf="chartData && dataExists" class="line-chart" [view]="view"
                       [scheme]="colorScheme"
                       [legend]="legend"
                       [showXAxisLabel]="showXAxisLabel"
                       [showYAxisLabel]="showYAxisLabel"
                       [xAxis]="xAxis"
                       [yAxis]="yAxis"
                       [xAxisLabel]="xAxisLabel"
                       [yAxisLabel]="getYAxisLabel()"
                       [timeline]="timeline"
                       [results]="chartData"
                       [autoScale]="true"
                       (select)="onSelect($event)"
                       (activate)="onActivate($event)"
                       (deactivate)="onDeactivate($event)">
</ngx-charts-line-chart>
