<p *ngIf="!chart"><em>Loading...</em></p>

<h1 *ngIf="chart" class="navbar-brand">{{chart.name}}</h1>

<table>
  <tr>
    <td>
      <div [ngSwitch]="chartType">
        <app-line-chart *ngSwitchCase="1" [unitId]="selectedUnitId" [chart]="chart"></app-line-chart>
        <em *ngSwitchDefault>Something went wrong...</em>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field appearance="fill">
        <mat-label>Choose an option</mat-label>
        <mat-select (selectionChange)="onSelectionChange($event)">
          <mat-option *ngFor="let mapping of chartMappings" [value]="mapping.unitId">{{mapping.unitName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </tr>
</table>
