.sidenav-main {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 60px;
}

.sidenav-menu-container {
  width: 200px;
  flex: 1;
}

.sidenav-content-container {
  min-height: 500px;
}
