<form #sensorEditForm="ngForm" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>Update sensor details</h2>
  <mat-dialog-content class="mat-typography">
    <div>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea required matInput [(ngModel)]="sensorDetails.description" #descCtrl="ngModel" name="description"></textarea>
      </mat-form-field>
    </div>
    <div>
      <mat-checkbox [checked]="sensorDetails.isActive"
                    (change)="isActiveChanged($event.checked)">
        Is active
      </mat-checkbox>
    </div>
    <div *ngIf="sensorDetails.inverseLogic !== null">
      <mat-checkbox [checked]="sensorDetails.inverseLogic"
                    (change)="inverseLogicChanged($event.checked)">
        Inverse logic
      </mat-checkbox>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="right">
    <button mat-button [mat-dialog-close]="null">Cancel</button>
    <button mat-button [mat-dialog-close]="sensorDetails" [disabled]="sensorEditForm.invalid" type="submit">Update</button>
  </mat-dialog-actions>
</form>
