<mat-tab-group>
  <mat-tab label="Details">
    <ng-template matTabContent>
      <table class='table table-striped'>
        <tr>
          <td>Name: </td>
          <td>{{sensor?.name}}</td>
        </tr>
        <tr>
          <td>Description: </td>
          <td>{{sensor?.description}}</td>
        </tr>
        <tr>
          <td>SensorType: </td>
          <td>{{sensorType}}</td>
        </tr>
        <tr>
          <td>UnitType: </td>
          <td>{{unitType}}</td>
        </tr>
        <tr>
          <td>Is active: </td>
          <td>{{sensor?.isActive}}</td>
        </tr>
        <tr *ngIf="sensor?.inverseLogic">
          <td>Inverse logic: </td>
          <td>{{sensor?.inverseLogic}}</td>
        </tr>
      </table>
    </ng-template>
  </mat-tab>
  <mat-tab label="Events">
    <ng-template matTabContent>
      <app-sensor-events></app-sensor-events>
    </ng-template>
  </mat-tab>
</mat-tab-group>