<table mat-table [dataSource]="sensorFields" class="mat-elevation-z8">
  <tr>
    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef hidden> Label </th>
      <td mat-cell *matCellDef="let field"> {{field.label}} </td>
    </ng-container>
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef hidden> Value </th>
      <td mat-cell *matCellDef="let field"> {{field.value}} </td>
    </ng-container>
  </tr>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
